#!/bin/bash
# Submission script automatically created with orca.submit.py
#SBATCH --job-name={{ job_name }}
#SBATCH --output={{ job_name }}.slurm.bash.o%j
#SBATCH --error={{ job_name }}.slurm.bash.e%j
#SBATCH --nodes=1
#SBATCH --ntasks={{ cpus }}
#SBATCH --ntasks-per-node={{ cpus }}
#SBATCH --mem-per-cpu={{ mem_per_cpu }}
#SBATCH --time={{ walltime }}
#SBATCH --account={{ account }}
{% if dependency %}#SBATCH --dependency=afterok:{{ dependency }}{% endif %}
{% if constraint %}#SBATCH --constraint={{ constraint }}{% endif %}
#SBATCH --export=NONE
#SBATCH --mail-type=END,FAIL
jobid="${SLURM_JOB_ID}"

# Add the user's bin directory to PATH to be sure not to miss local commands
PATH="$HOME/bin:$PATH"

# MODULEPATH at time of execution
export MODULEPATH={{ modulepath }}

# Load Orca module 
module purge
module load GCC/11.3.0
module load OpenMPI/4.1.4
module load ORCA/5.0.4

# Create scratch directory
orca_scratch="$( mktemp --directory --tmpdir )"

# Copy files to scratch directory
cp {{ input_path }}/{{ input_file }} "$orca_scratch"
find {{ input_path }} -name \*.xyz -exec cp {} "$orca_scratch"/ \;
find {{ input_path }} -name \*.gbw -exec cp {} "$orca_scratch"/ \;
find {{ input_path }} -name \*.hess -exec cp {} "$orca_scratch"/ \;

# Get some information of the platform
echo "This is $(uname -n)"
echo "OS $(uname -o) ($(uname -p))"
echo "Running on {{ cpus_per_node }}    $(grep 'model name' /proc/cpuinfo|uniq|cut -d ':' -f 2)."
echo "Calculation {{ input_file }} from {{ input_path }}"
echo "Working directory is {{ input_path }}"

# Change to the directory containing the input file
cd {{ input_path }} 

echo "Start: $(date)"
$ORCA "$orca_scratch"/{{ input_file }} > {{ output_file }}

# remove all remaining .tmp files
rm -v "$orca_scratch"/*.tmp
# force moves everything back
mv -v -f "$orca_scratch"/* {{ input_path }}/
# remove scratch dir
rm -rfv "$orca_scratch"

joberror=$?
echo "End  : $(date)"
exit $joberror
# orca.submit.py is part of tools-for-orca.py {{ version }} 
